[submodule "glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = submodules/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/embree"]
	path = submodules/embree
	url = https://github.com/embree/embree.git
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/ciechowoj/assimp.git
[submodule "submodules/openexr"]
	path = submodules/openexr
	url = https://github.com/openexr/openexr.git
