# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# sublime text 3
*.sublime-workspace

build/*
test_results/*
images/*
.vs/*
x64/*
Debug/*
Release/*
!images/Makefile
*.ini
dna.txt
*.blend1
*.blend2
*.dat
*.vcxproj.filters
*.vcxproj.user
