[submodule "glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = submodules/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "AntTweakBar"]
	path = submodules/AntTweakBar
	url = https://github.com/ciechowoj/AntTweakBar.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
